<template>
  <div class="">
    <h1>Выберите город из списка</h1>
    <select class="form-control" v-model="form.city" @change="changeCity">
      <option value="" disabled>Выберите город</option>
      <option v-for="city in cities" :key="city" :value="city">{{ city }}</option>
    </select>
  </div>
</template>

<script>
export default {
  name: 'city-select',
  data: () => ({
    cities: [
      'Москва',
      'Ульяновск',
      'Калининград',
      'Екатеринбург',
      'Хабаровск',
    ],

    form: {
      city: '',
    },
  }),

  methods: {
    changeCity() {
      if (this.form.city) {
        this.$emit('change', this.form.city);
      }
    },
  },
};
</script>
