<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">City-time</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная</a>
        </li>
      </ul>
    </div>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/doc">Документация</a>
    <a class="bitbucket-link" href="https://bitbucket.org/rfrnecbr/city-time"
      title="Посмотреть исходный код">
      <img src="@/assets/bitbucket.svg">
    </a>
  </nav>
</template>

<script>
export default {
  name: 'city-title',
};
</script>

<style lang="scss" scoped>
.bitbucket-link {
  img {
    margin-left: 20px;
    height: 35px;
  }
}
</style>
