<template>
  <div class="time-block">
    <h4>{{ city }}</h4>
    <h3>{{ timeAsDate.toLocaleDateString() }} {{ timeAsDate.toLocaleTimeString() }}</h3>
  </div>
</template>

<script>
export default {
  name: 'city-time',
  props: ['city', 'time'],
  computed: {
    timeAsDate() {
      return new Date(this.time);
    },
  },
};
</script>

<style lang="scss" scoped>
.time-block {
  margin: 30px 0;
}
</style>
