<template>
  <div id="app">
    <city-title></city-title>
    <div class="container d-flex">
      <div class="content-block">
        <city-select @change="changeCity"></city-select>
        <transition name="fade">
          <city-time v-if="showTime" :city="city" :time="time"></city-time>
          <p v-if="error">{{ errorText }}</p>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import CityTime from '@/components/city-time.vue';
import CitySelect from '@/components/city-select.vue';
import CityTitle from '@/components/city-title.vue';
import Time from '@/services/time';

export default {
  name: 'App',
  components: { CityTitle, CitySelect, CityTime },
  data: () => ({
    showTime: false,
    city: '',
    time: '',
    error: false,
    errorText: '',
  }),
  methods: {
    changeCity(city) {
      this.showTime = false;
      Time.resolve({ city })
        .then(({ name, time }) => {
          this.city = name;
          this.time = time;
          this.showTime = true;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap";
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container {
  height: calc(100vh - 56px);

  .content-block {
    margin: 30vh auto 0 auto;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
}
</style>
